*{
    margin: 0;
}
body{
    font-size: 1.2em;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background: linear-gradient(45deg,
    #878787 ,
    
    
   );
    line-height: 3rem;
    display: flex;
    flex-direction: row; 
     align-items: center;
    justify-content: space-between;
  
}
.nav-link{
    color: #fff;
    margin-right: 0.5rem;
}

nav{
    background: #3fdad8 ;
    font-weight: 300;
    line-height: 3em;
    word-spacing: 7px;
}
nav a{
    color: rgb(14, 9, 9);
}
nav a:hover{
    color:blueviolet;
    background-color: #fff;
    
}
header {
    background: #c4b403;
}
header img{
    float: right;
}
a{
    text-decoration: none;
}

main{
    flex-grow: 1;
    justify-content: space-between;
    align-items: ;
    background: linear-gradient(45deg,
   
#4fdc4f 
 );

} 
main .featured-projects{
    
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
main .featured-projects img{
    margin-left: 70px;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0px;
}

footer{
    background: linear-gradient(45deg,
    #3fdad8 ,
    );
}
footer ul
{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}
footer a {
    color:blue;
    justify-content: center;
    align-items: center;
    word-spacing: ;
}

footer p{
    color: #fff;
    text-align: center;
}

